

{% extends "base/type_base.html" %}
{#↓継承しているからこれはいらないと思うのになくすとエラーが起きるs#}
{% load static %} {# ← ここに追加してみる #}
{% block body %}

<h1>練習ページ</h1>

<!-- DjangoからJavaScriptへ -->

<div id="text-container" data-correct-text="{{ correct_answer }}"></div>

<div id = "result-message" style="display: none; margin-top: 20px;">
    <h2>完了！</h2>
    <a href="{% url 'typeApp:top' %}">次の問題へ</a>
</div>


{% endblock %}



{% block extra_js %}
    {# ★★★ 作成した外部JSファイルを読み込む ★★★ #}
    <script src="{% static 'typeApp/js/typing.js' %}"></script>
{% endblock %}
