

{% extends "base/type_base.html" %}
{#↓継承しているからこれはいらないと思うのになくすとエラーが起きるs#}
{% load static %} {# ← ここに追加してみる #}
{% block body %}

    <h1>リアルタイム練習</h1>

    {#音声プレーヤーを追加#}
    <div style="margin-bottom: 20px;">
        <audio controls autoplay> {# 'controls'で再生・一時停止などのUI表示, 'autoplay'で自動再生 #}
            <source src="{{ audio_file_path }}" type="audio/mpeg">
            お使いのブラウザは音声要素をサポートしていません。
        </audio>
    </div>

    <div id="text-container" data-correct-text="{{ correct_answer }}"></div>

    <hr>

    <form action="{% url 'typeApp:result' %}" method="post" id="result-form" style="margin-top: 20px;">
        {% csrf_token %}
        
        {# ★★★ views.pyから渡されたフォーム（textarea）を描画 ★★★ #}
        {{ form.as_p }}
        
        {# 最初は隠しておき、完了後に表示するボタン #}
        <button type="submit" id="submit-button" style="display: none;">採点する</button>
    </form>


{% endblock %}



{% block extra_js %}
    <script src="{% static 'typeApp/js/typing_live_input.js' %}"></script> {# ← 新しいJSファイル #}
{% endblock %}
