

{% extends "base/type_base.html" %}
{#↓継承しているからこれはいらないと思うのになくすとエラーが起きるs#}
{% load static %} {# ← ここに追加してみる #}
{% block body %}

<h1>練習ページ</h1>

<!-- DjangoからJavaScriptへ -->
<div id="text-container" data-correct-text="{{ correct_answer }}"></div>


<!-- <div id = "result-message" style="display: none; margin-top: 20px;">
    <h2>完了！</h2>
    <a href="{% url 'typeApp:top' %}">次の問題へ</a>
</div> -->

<form action="{% url 'typeApp:result' %}" method="post" id = "result-message" style="display: none; margin-top: 20px;">
    {% csrf_token %}

    {# ★★★ JSが入力結果を書き込むための非表示フィールド ★★★ #}
    <input type="hidden" name="user_input_text" id="user-input-field">
    
    <p>完了しました！採点ボタンを押してください。</p>

    <button type="submit">採点する</button>
</form>


{% endblock %}



{% block extra_js %}
    {# ★★★ 作成した外部JSファイルを読み込む ★★★ #}
    <script src="{% static 'typeApp/js/typing.js' %}"></script>
{% endblock %}
